# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
# Virtual Environment
venv/
env/

# Database
*.sqlite3

# Static files
staticfiles/

# Media
media/

# Secrets
*.env
*.pyc
*.sqlite3-journal
*.DS_Store

# IDE/Editor specific files
.vscode/
.idea/

# Logs and Temporary Files
*.log
*.tmp
